/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.content {
  width: 800px;

  .types {
    display: flex;
    flex-wrap: wrap;
  }

  .itemBox {
    margin: 10px;
    border-radius: 10px;
    width: 161px;
    height: 106px;
    padding: 30px 10px;
    text-align: center;
    cursor: pointer;
    border: 1px dashed #C9D6F2;
    box-sizing: border-box;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: #f3f7fb;

      div {
        color: #1960BC !important;
      }
    }
  }
}
